<?xml version="1.0" encoding="UTF-8"?>
<suite name="YatraTestSuite" parallel="methods" thread-count="3">

    <listeners>
        <listener class-name="com.playwright.listeners.RetryTransformer"/>
    </listeners>

    <test name="FrameworkValidation">
        <classes>
            <class name="com.yatra.tests.FrameworkValidationTest"/>
        </classes>
    </test>
    <test name="YatraFunctionalTests">
        <classes>
            <class name="com.yatra.tests.FlightSearchTest"/>
        </classes>
    </test>
</suite>
